# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
ecosystem_mindmap/backend/node_modules
ecosystem_mindmap/backend/dist
ecosystem_mindmap/node_modules
ecosystem_mindmap/.history

/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

ecosystem_mindmap/npm-debug.log*
ecosystem_mindmap/yarn-debug.log*
ecosystem_mindmap/yarn-error.log*
