.mind-map-builder-container {
    width: 100%;
    height: 100%;
    background-color: #1d1d1f;
}

.svg-container {
    height: auto;
	width: auto;
	vertical-align: middle; 
    overflow: hidden; 
    background-color: #2e2b2b;
}